<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    	<span>
                            <img alt="image" class="img-circle" th:src="@{/img/cat.jpg}" height="48px" width="48px" />
                            <!--<img  th:src="@{'/img/user/'+${session.user.getUserName()}+'.jpg'}" alt="image" class="img-circle" height="48px" width="48px"/>-->
                            <!--<tb th:text="@{session.user.getImage()}"></tb>-->
						</span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                            	<span class="block m-t-xs">
                            		<strong class="font-bold" th:text="admin">admin</strong>
                             	</span>
                             </span>
                    </a>
                </div>
                <div class="logo-element">
                    YX
                </div>
            </li>
            <li>
                <a th:href="@{/baseConfig/dashboard}"><i class="fa fa-diamond"></i> <span class="nav-label">仪表盘</span></a>
            </li>

            <li id="baseConfig">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">基础配置</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li id="projectManage"><a th:href="@{/baseConfig/projectManage}">项目管理</a></li>
                    <li id="keywordManage"><a th:href="@{/uiTest/keywordManage}">关键字</a></li>
                </ul>
            </li>
            <li id="uiTest">
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">UI自动化</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li id="elementManage"><a th:href="@{/uiTest/elementManage}">元素管理</a></li>
                    <li id="moduleManage"><a th:href="@{/uiTest/moduleManage}">模块管理</a></li>
                    <li id="caseManage"><a th:href="@{/uiTest/caseManage}">CASE管理</a></li>
                    <li id="reportManage"><a th:href="@{/uiTest/caseManage}">测试报告</a></li>
                </ul>
            </li>

            <li id="interfaceTest">
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">接口自动化</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li id="apiManage"><a th:href="@{/uiTest/elementManage}">api管理</a></li>
                    <li id="caseList"><a th:href="@{/uiTest/moduleManage}">测试用例</a></li>
                    <li id="excuteInterface"><a th:href="@{/uiTest/moduleManage}">接口执行</a></li>
                    <li id="excuteReport"><a th:href="@{/uiTest/moduleManage}">查看报告</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
</body>

<script>

</script>
</html>



