<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>CASE管理</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>CASE管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">UI自动化</a>
                    </li>
                    <li class="active">
                        <strong>CASE管理</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <!--搜索操作框-->
                        <div class="ibox-title">
                            <h5>查询</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" style="display: block;">
                            <form th:action="@{/uiTest/caseManage}" class="col-sm-10 m-b-xs" th:method="post">
                                <div class="row">
                                    <div class="col-sm-7 m-b-xs">
                                        <input id="name" name="name" placeholder="CASE名称" class="form-control"
                                               type="text" th:value="${name}"/>
                                    </div>
                                    <div class="col-sm-3 m-b-xs">
                                        <button class="btn btn-primary btn-block" type="submit"><i
                                                class="fa fa-search-plus"></i>&nbsp;&nbsp;<strong>搜索</strong>&nbsp;&nbsp;
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-2 m-b-xs">
                                    <!---->
                                    <a th:href="@{/uiTest/editCase(projectId=${projectId})}"
                                       class="btn btn-primary btn-block" data-toggle="tooltip" data-placement="left"
                                       title="" data-original-title="Refresh inbox"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增CASE</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>CASE列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class=" table table-hover" data-page-size="5">
                                    <thead>
                                    <tr>
                                        <th width="10%"><label>
                                            <input id="checkAll" name="checkAll" type="checkbox" th:text="全选"></label>
                                        </th>
                                        <th width="10%">ID</th>
                                        <th width="25%">CASE名称</th>
                                        <th width="15%">关联模块</th>
                                        <th width="10%">状态</th>
                                        <th width="30">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item : ${uiCaseList}">
                                        <td>
                                            <label><input id="checkCaseId" name="checkCaseId" type="checkbox"
                                                          th:value="${item.id}"></label>
                                        </td>
                                        <td th:text="${item.id}">Onions</td>
                                        <td th:text="${item.name}">Onions</td>
                                        <td th:text="${item.moduleid}">Onions</td>
                                        <td th:text="${item.status}">Onions</td>
                                        <td>
                                            <a th:href="@{/uiTest/editCase(id=${item.id},name=${item.name},moduleId=${item.moduleid},status=${item.status},projectId=${projectId})}"
                                               title="修改"><i class="fa fa-edit text-navy"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" th:onclick="'javascript:updateState('+${item.id}+',2,0);'"
                                               title="删除"><i class="fa fa-trash-o text-navy"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" th:onclick="'javascript:excuteCase('+${item.id}+',2,0);'"
                                               title="执行"><i class="fa fa-play text-navy"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="12">
                                            <div class="col-sm-6 m-b-xs">
                                                <a id="excuteAll" class="btn btn-primary btn-block" type="submit"><i
                                                        class="fa fa-play"></i>&nbsp;&nbsp;<strong>批量执行</strong>&nbsp;&nbsp;
                                                </a>
                                            </div>
                                            <div class="col-sm-6 m-b-xs">
                                                <a id="viewReport" class="btn btn-primary btn-block" type="submit"><i
                                                        class="fa fa-pie-chart"></i>&nbsp;&nbsp;<strong>查看报告</strong>&nbsp;&nbsp;
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- SUMMERNOTE -->
<script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>

<script th:inline="javascript">

    $('#uiCaseManage').addClass("active");

    $("#uiTest").attr("class", "active");

    $(document).ready(function () {

        //全选
        $("#checkAll").on("click", function () {
            if ($(this).is(':checked')) {
                $('input[name="checkCaseId"]').each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $('input[name="checkCaseId"]').each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        //批量执行
        $("#excuteAll").click(function () {
            var checkID = [];
            $("input:checkbox[name='checkCaseId']:checked").each(function (i) {
                checkID[i] = $(this).val();
            });
            if (checkID.length < 1) {
                toastr.error('请输入选择执行CASE', '提示');
                return;
            }
            $.ajax({
                type: "POST",
                url: "/uiTest/excuteAllCase",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(checkID),
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("系统异常！");
                }
            });
        });

        //查看Report
        $("#viewReport").click(function () {
            $.ajax({
                url: '/uiTest/report',
                type: 'POST',
                async: false,
                success: function (data) {
                    window.open('/report');
                }
            });
        });

    });


    var pageHTML = [[${pageHTML}]];
    $(document).ready(function () {
        $("#pageHTML").html(pageHTML);
    });

    /*<![CDATA[*/
    function updateState(id, state, commendState) {
        var deleteTag;
        if (state == 2) {
            deleteTag = confirm("确定删除此条信息?");
        } else {
            deleteTag = true;
        }
        if (deleteTag) {
            $.ajax({
                type: "POST",
                url: "/uiTest/deleteCase?id=" + id,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("系统异常！");
                }
            });
        }
    }

    /*]]>*/

    function excuteCase(id, state, commendState) {
        var deleteTag;
        if (state == 2) {
            deleteTag = confirm("确定执行此条CASE?");
        } else {
            deleteTag = true;
        }
        if (deleteTag) {
            $.ajax({
                type: "POST",
                url: "/uiTest/excuteCase?id=" + id,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("系统异常！");
                }
            });
        }
    }
</script>

</body>

</html>
